In [6]:
import pandas as pd

In [8]:
df = pd.read_csv("Documents/Covid data analysis/US_counties.csv", header = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379550 entries, 0 to 379549
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    379550 non-null  object
 1   county  379550 non-null  object
 2   state   379550 non-null  object
 3   fips    375734 non-null  float64
 4   cases   379550 non-null  int64
 5   deaths  379550 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 17.4+ MB

In [9]:
df.head(10)

        date       county       state     fips  cases  deaths
0  1/21/2020    Snohomish  Washington  53061.0      1       0
1  1/22/2020    Snohomish  Washington  53061.0      1       0
2  1/23/2020    Snohomish  Washington  53061.0      1       0
3  1/24/2020         Cook    Illinois  17031.0      1       0
4  1/24/2020    Snohomish  Washington  53061.0      1       0
5  1/25/2020       Orange  California   6059.0      1       0
6  1/25/2020         Cook    Illinois  17031.0      1       0
7  1/25/2020    Snohomish  Washington  53061.0      1       0
8  1/26/2020     Maricopa     Arizona   4013.0      1       0
9  1/26/2020  Los Angeles  California   6037.0      1       0

In [11]:
df.isnull().sum()

date         0
county       0
state        0
fips      3816
cases        0
deaths       0
dtype: int64

In [19]:
df.fillna({'fips':0}) #filled null values with 0 in fips col. prints 379550 values showing null set to 0
df.fillna({'fips':0}, inplace=True) #just replaces but doesnt print anything
df.fips.isnull().sum() # to confirm that null in fips are set to 0, 
#result should be 0 since no null values.

0

In [20]:
# confirming df has no null values after filling null in fips col with 0
df.isnull().sum()

date      0
county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [23]:
df.shape

(379550, 6)

In [24]:
df.duplicated().sum()

0

In [26]:
df.to_csv('Covid_US_counties_cleaned.csv')